<h1 md-dialog-title>Contact Filter</h1>
<section md-dialog-content>
    <h2 md-dialog-title>Gender</h2>
    <section>
        <md-checkbox [(ngModel)]="genderMaleChecked" (click)="maleFilter($event)" [value]="male">Male
        </md-checkbox>
        <md-checkbox [(ngModel)]="genderFemaleChecked" (click)="femaleFilter()" [value]="female">Female
        </md-checkbox>
    </section>
</section>
<section md-dialog-content>
    <h2 md-dialog-title>Location</h2>
    <md-checkbox *ngFor="let location of locations" [value]="location.locationCity">{{location.locationCity}}</md-checkbox>
</section>
<div md-dialog-actions>
    <button md-button (click)="doFilter()">Filter</button>
    <button md-button (click)="dialogRef.close({action:'cancel'})">Cancel</button>
</div>