<div class ="mainmenu">
  <md-toolbar color="primary">
    <md-icon>menubutton</md-icon>
    <div class="user-title">
      <a>Irvan</a> <br>
      <a>SE - JP</a>
    </div>
     <span class="fill-remaining-space"></span>
     <button md-icon-button class="menu-button"><md-icon>settings</md-icon></button>
    <button md-icon-button class="menu-button"><md-icon>power_settings_new</md-icon></button>
  </md-toolbar>
</div>
<contact-list class = "left-menu">
</contact-list>
<contact-detail class = "right-menu">
</contact-detail>
