/*.navigation-wrapper{
    box-sizing: border-box;
    position: absolute;
    padding: 1px 0px 0px 0px;
}*/

.toolbar-background {
    box-sizing: border-box;
    background-color: #ff4081;
    width: 100%;
    height: 64px;
    padding: 1px 0px 0px 2px;
}

.tab-bar{
    padding-top: 16px;
}

.iconNav{
    position: absolute;
    left:auto;
    right:auto;
    padding: 5px 0px 0px 0px;
    /*fill:cornflowerblue;*/
}
/*.navigation {
    box-sizing: border-box;
    position: absolute;
    height: 50px;
    top: 0px;   
    left: 0px;
    padding: 1px 0px 0px 2px;
    background-color: #34a0ed;
    
}*/

.nav-bar-icon {
    padding: 5px 0px 0px 0px;
}