<section class = "navigation-wrapper">
<md-tab-group>
  <md-tab>
    <ng-template md-tab-label>
        <md-icon svgIcon="person" class = "iconNav"></md-icon>
    </ng-template>
    <body>
    <form></form>
    </body>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      <md-icon svgIcon="restore"></md-icon>
    </ng-template>
    <h1>Coming Soon</h1>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      <md-icon svgIcon="layers"></md-icon>
    </ng-template>
    <h1>Coming Soon</h1>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      <md-icon svgIcon="people"></md-icon>
    </ng-template>
    <h1>Coming Soon</h1>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      <md-icon svgIcon="home"></md-icon>
    </ng-template>
    <h1>Coming Soon</h1>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      <md-icon svgIcon="location"></md-icon>
    </ng-template>
    <h1>Coming Soon</h1>
  </md-tab>
</md-tab-group>
</section>