<div class="toolbar-background">
  <md-tab-group class="tab-bar">
    <md-tab>
      <ng-template md-tab-label>
        <md-icon svgIcon="person" class="iconNav"></md-icon>
      </ng-template>

      <body>
        <form-contact></form-contact>
      </body>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>
        <md-icon svgIcon="restore" class="iconNav"></md-icon>
      </ng-template>
      <h1>Coming Soon</h1>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>
        <md-icon svgIcon="layers" class="iconNav"></md-icon>
      </ng-template>
      <h1>Coming Soon</h1>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>
        <md-icon svgIcon="people" class="iconNav"></md-icon>
      </ng-template>
      <h1>Coming Soon</h1>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>
        <md-icon svgIcon="home" class="iconNav"></md-icon>
      </ng-template>
      <h1>Coming Soon</h1>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>
        <md-icon svgIcon="location" class="iconNav"></md-icon>
      </ng-template>
      <h1>Coming Soon</h1>
    </md-tab>
  </md-tab-group>
</div>