<section class = "contact-wrapper">
<section class="search-bar">   
    <md-toolbar color="accent">
        <md-icon svgIcon = "search"></md-icon>
        <md-input-container>
            <input mdInput placeholder="Search" type="text"  (keyup)="onChange($event)">
        </md-input-container>
        
        <section class = "sort">
        <button md-icon-button><md-icon svgIcon="sort_by_alpha"></md-icon></button>
        <button md-icon-button (click)="openDialog()"><md-icon svgIcon="filter_list"></md-icon></button>
        </section>
        <section class = "chip">
            <md-chip-list>
                <md-chip>12</md-chip>
            </md-chip-list>
        </section>
    </md-toolbar>
</section>
<section class="contact-list">
  <md-card *ngFor="let contact of contacts" (click) = "onClick(contact.empId)">
    <img class="user-img" src="src/app/no-image.png" width="40" height="40">
    <md-card-title  class = "title">{{contact.firstName}}</md-card-title>
    <md-card-subtitle class = "subtitle">{{contact.phone}}</md-card-subtitle>
    <md-card-subtitle class = "subtitle">{{contact.empId}}</md-card-subtitle>
    <md-card-subtitle  class = "subtitle">{{contact.location.city}}</md-card-subtitle>
    <button md-icon-button><md-icon svgIcon="delete" (click)="delete()"></md-icon></button>
  </md-card>
  <button md-fab><md-icon svgIcon="add"></md-icon></button>
</section>
</section>