.selected{
  background-color: #c5cae9;
  border-bottom: 2px solid #c51162;
}

.notSelected{
  background-color: #ffffff;
}

.user-img{
    float:left;
    border-radius:100%;
    width: 80px;
    height: 80px;

}
.title{
    font-weight: bold;
}
.subtitle{
    font-size: 14px;
}
.contact-wrapper{
    float:left;
    width:100%;
}