.selected{
  background-color: #c5cae9;
  border-bottom: 2px solid #c51162;
}

.notSelected{
  background-color: #ffffff;
}

.user-img{
    float:left;
    border-radius:100%;
    width: 80px;
    height: 80px;

}
.title{
    font-weight: bold;
}
.subtitle{
    font-size: 14px;
}
.contact-wrapper{
    float:left;
    width:100%;
}
.contactCard{
    margin:5px;
    width: 85%;
    max-width: 100%;
}
.toolBar{
    background-color:cornflowerblue;
}
.addButton{
    position:absolute;
    top:750px;
    left:420px;
}
.contact-list{
    overflow: scroll;
    height: 700px;
}

h1{
    font-size: 24px;
}