<section class="search-bar">   
    <md-toolbar color="accent">
        <md-icon svgIcon = "search"></md-icon>
        <md-input-container>
            <input mdInput placeholder="Search" type="text"  (keyup)="onChange($event)">
        </md-input-container>
        
        <section class = "sort">
        <button md-icon-button><md-icon svgIcon="sort_by_alpha"></md-icon></button>
        <button md-icon-button><md-icon svgIcon="filter_list"></md-icon></button>
        </section>
        <section class = "chip">
            <md-chip-list>
                <md-chip>12</md-chip>
            </md-chip-list>
        </section>
    </md-toolbar>
</section>

