<section class="rightBody">
  <section class="toolbar">
  <md-tab-group dynamicHeight="true">
    <md-tab>
      <ng-template md-tab-label>
      <i class="material-icons blue">people</i>
      </ng-template>
      </md-tab>

    <md-tab>
      <ng-template md-tab-label>
        <i class="material-icons blue">timer</i>
      </ng-template>
      <h1>Time</h1> 
    </md-tab>

    <md-tab>
      <ng-template md-tab-label>
        <i class="material-icons blue">people_outline</i>
      </ng-template>
      <h1>Connections</h1> 
    </md-tab>

    <md-tab>
      <ng-template md-tab-label>
        <i class="material-icons blue">library_books</i>
      </ng-template>
      <h1>Documents</h1> 
    </md-tab>
  
  <md-tab>
      <ng-template md-tab-label>
        <i class="material-icons blue">location_on</i>
      </ng-template>
      <h1>Location</h1> 
    </md-tab>
  </md-tab-group>
  </section>
