<form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)">
    <h1>Contact Detail</h1>
    <table>
        <tr>
            <td>
                <md-input-container class="input-style">
                    <label>First Name</label>
                    <input mdInput formControlName="firstName">
                </md-input-container>
            </td>
            <td>
                <md-input-container class="input-style">
                    <label>Sub Division</label>
                    <input mdInput formControlName="subDivision">
                </md-input-container>
            </td>
            <td>
                <img class="img-card" [src]="photo | safeUrl" (click)="fileInput.click()" />
                <input name="photo" id="photo" class="file-chooser" #fileInput type="file" hidden="hidden" accept="image/*" (change)="chooseImage($event)"
                />
            </td>
        </tr>
        <tr>
            <td>
                <md-input-container class="input-style">
                    <label>Last Name</label>
                    <input mdInput formControlName="lastName">
                </md-input-container>
            </td>
            <td>
                <md-input-container class="input-style">
                    <label>Status</label>
                    <input mdInput formControlName="status">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <td>
                <md-input-container class="input-style">
                    <label>Gender</label>
                    <input mdInput formControlName="gender">
                </md-input-container>
            </td>
            <td>
                <md-input-container class="input-style">
                    <label>Suspend Date</label>
                    <input mdInput type="date" formControlName="suspendDate">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <td>
                <md-input-container class="input-style">
                    <label>Date of Birth</label>
                    <input mdInput type="date" formControlName="dateOfBirth">
                </md-input-container>
            </td>
            <td>
                <md-input-container class="input-style">
                    <label>Hired Date</label>
                    <input mdInput type="date" formControlName="hiredDate">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <td>
                <md-input-container class="input-style">
                    <label>Nationality</label>
                    <input mdInput formControlName="nationality">
                </md-input-container>
            </td>
            <td>
                <md-input-container class="input-style">
                    <label>Grade</label>
                    <input mdInput formControlName="grade">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <td>
                <md-input-container class="input-style">
                    <label>Marital</label>
                    <input mdInput formControlName="maritalStatus">
                </md-input-container>
            </td>
            <td>
                <md-input-container class="input-style">
                    <label>Divison</label>
                    <input mdInput formControlName="division">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <td>
                <md-input-container class="input-style">
                    <label>Phone</label>
                    <input mdInput formControlName="phone">
                </md-input-container>
            </td>
            <td>
                <md-input-container class="input-style">
                    <label>Email</label>
                    <input mdInput formControlName="email">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <td>
                <label>Location</label>
                <md-select class="select-option" name="location" id="location" placeholder="Location" formControlName="location">
                    <md-option *ngFor="let l of locations" [value]="l.id" >{{ l.city }}</md-option>
                </md-select>
            </td>
        </tr>
    </table>
    <section class="button-group">
        <button md-raised-button>Exit</button>
        <button md-raised-button type="submit">Save</button>
    </section>
</form>