<section *ngIf="!isShow" class="select-message">
    <h2>Please select employee or add new one</h2>
</section>
<form *ngIf="isShow" class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)">
    <h1>Contact Detail</h1>
    <table>
        <tr>
            <td>
                <md-input-container class="input-style">
                    <input mdInput placeholder="First Name" formControlName="firstName">
                </md-input-container>
            </td>
            <td>
                <md-input-container class="input-style">
                    <input mdInput placeholder="Sub Division" formControlName="subDivision">
                </md-input-container>
            </td>
            <td>
                <img class="img-card" [src]="photo | safeUrl" (click)="fileInput.click()" />
                <input name="photo" id="photo" class="file-chooser" #fileInput type="file" hidden="hidden" accept="image/*" (change)="chooseImage($event)"
                />
            </td>
        </tr>
        <tr>
            <td>
                <md-input-container class="input-style">
                    <input mdInput placeholder="Last Name" formControlName="lastName">
                </md-input-container>
            </td>
            <td>
                <md-input-container class="input-style">
                    <input mdInput placeholder="Status" formControlName="status">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <td>
                <md-select class="select-option" name="gender" id="gender" placeholder="Gender" formControlName="gender">
                    <md-option *ngFor="let g of genderArr" [value]="g">{{ g }}</md-option>
                </md-select>
            </td>
            <td>
                <md-input-container class="input-style">
                    <input mdInput type="date" placeholder="Suspend Date" formControlName="suspendDate">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <td>
                <md-input-container class="input-style">
                    <input mdInput type="date" placeholder="Date Of Birth" formControlName="dateOfBirth">
                </md-input-container>
            </td>
            <td>
                <md-input-container class="input-style">
                    <input mdInput type="date" placeholder="Hired Date" formControlName="hiredDate">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <td>
                <md-input-container class="input-style">
                    <input mdInput placeholder="Nationality" formControlName="nationality">
                </md-input-container>
            </td>
            <td>
                <md-select class="select-option" name="grade" id="grade" placeholder="Grade" formControlName="grade">
                    <md-option *ngFor="let r of gradeArr" [value]="r">{{ r }}</md-option>
                </md-select>
            </td>
        </tr>
        <tr>
            <td>
                <md-select class="select-option" name="maritalStatus" id="maritalStatus" placeholder="Marital Status" formControlName="maritalStatus">
                    <md-option *ngFor="let m of maritalArr" [value]="m">{{ m }}</md-option>
                </md-select>
            </td>
            <td>
                <md-select class="select-option" name="division" id="division" placeholder="Division" formControlName="division">
                    <md-option *ngFor="let d of divisionArr" [value]="d">{{ d }}</md-option>
                </md-select>
            </td>
        </tr>
        <tr>
            <td>
                <md-input-container class="input-style">
                    <input type=number mdInput placeholder="Phone" formControlName="phone">
                </md-input-container>
            </td>
            <td>
                <md-input-container class="input-style">
                    <input mdInput type="email" placeholder="Email" formControlName="email">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <td>
                <md-select class="select-option" name="location" id="location" formControlName="location">
                    <md-option *ngFor="let l of locations" [value]="l.id">{{ l.city }}</md-option>
                </md-select>
            </td>
        </tr>
    </table>
    <section class="button-group">
        <button md-raised-button>Exit</button>
        <button md-raised-button type="submit">Save</button>
    </section>
</form>