.contact-form {
    padding-top: 5px;
    height: 700px;
    overflow: scroll;
}
.button-group{
    float:right;
}
.input-style{
    width:100%;
    font-size:20px; 
    font-weight: 400;
}

h1{
    text-align: center;
    font-size:28px;
    padding-top: 5px;
}
.img-card{
   position: absolute;
    width: 200px;
    height: 200px;
    right: 20px;
    top: 100px;
    border-radius: 100%;
    background-color: darkgrey;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}
.inputContent{
    float:left;
    width: 70%;
    
}
.button-group{
    position: absolute;
    right: 20px;
    bottom: 10px;
}
td{
    padding-left: 20px;
}
.select-message{
    overflow: hidden;
}